/*NEXT: set main-content grid tracks 
      : cards setup
      : grid placing
 */
body{
    margin: 0;
    padding: 0;
}

ul,li,p,h3,h1{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 25% 75%;
}

.header{
    border: 1px solid black;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 60%;
    align-items: center;
    justify-items: center;
}

.sticky-container{
    display: grid;
    position: sticky;
    top: 2rem;
    grid-column: 1/2;
    grid-row: 1/3;
}
.sidebar{
    position: relative;
    padding: 2rem;
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 40% 50%;
}

.sidebar > .top-container{
    grid-column: 2/3;
    grid-row: 1/2;
}
.sidebar > .mid-container{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sidebar > .bot-container{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.main-content{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: rgba(202, 202, 202, 0.555);
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}
.main-content > .left-container{
    min-height: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 10px;
}
.main-content > .right-container{
    min-height: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.left-container > h1{
    grid-column: 1/-1;
    grid-row: 1/2;
}


.announcements{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
}